html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container__left,
.container__right {
  height: 100%;
  position: relative;
  width: 50%;
}

.container__left {
  float: left;
}

.container__right {
  float: right;
}

@media only screen and (max-device-width: 480px) {
  .container__left,
  .container__right {
    float: none;
    height: 50%;
    width: 100%;
  }
}

.location__container,
.location__container {
  box-sizing: border-box;
  padding: 2px;
  position: absolute;
  width: 100%;
}

.location__container input,
.location__container input {
  border: none;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 24px;
  padding: 6px 4px;
  width: 100%;
}

.map__container {
  box-sizing: border-box;
  height: 100%;
  padding-top: 40px;
  width: 100%;
}

.map {
  height: 100%;
  width: 100%;
}
